{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block header %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('home')}}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{url_for('challenge1')}}">Benford's Test</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('challenge2')}}">System Design</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('challenge3')}}">Error Review</a>
    </li>
  </ul>
  <h1></h1>
{% endblock %}

{% block content %}
  <h3>Benford's Law</h3>
  <br>
  Instruction: Upload a flat file (eg. CSV, TSV) and a desired column 
  to check if the column data observes Benford's law. 
  <br>  Note: column data can only be numeric values.
  <br><br>
<form action="{{url_for('challenge1')}}" method="POST" enctype="multipart/form-data">
  <input class="btn btn-outline-secondary" type="file" name="data_file">
  <br><br>
  Column Name: <input type="text" class="form-control" name="column_name" style="width:50%">
  <br><br>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

{% if result is none %}
<style>
  h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
  } 

  h2 span { 
    background:#fff; 
    padding:0 10px; 
  }
</style>
<h2><span>OR</span></h2>
<a href="{{url_for('challenge1_')}}">Click here</a> for using our default data 
to run Benford's Law test

{% elif result %}
<div class="alert alert-success" role="alert">
  The observed data satisfies Benford's Law
</div>
{% else %}
<div class="alert alert-danger" role="alert">
  The observed data does not satisfy chi-square test to confirm Benford's Law
</div>
{% endif %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<div class="chart" id="bargraph">
  <script>
      var graphs = {{plot | safe}};
      Plotly.plot('bargraph',graphs,{});
  </script>
</div>

{% endblock %}