{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block header %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('home')}}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('challenge1')}}">Benford's Test</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{url_for('challenge2')}}">System Design</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('challenge3')}}">Error Review</a>
    </li>
  </ul>
  <h1></h1>
{% endblock %}

{% block content %}
  <h3>System Design</h3>
<img src="{{url_for('static', filename='L7 Widget.png')}}"  class="img-fluid" alt="Responsive image">
{% endblock %}